@charset "utf-8";


/* index--------------------------------------------------------------- */
@media(width < 900px) {
    #topcontainer {

        display: flex;
        flex-direction: column;
    }

    .image {
        width: 100%;

    }

    #back-img {
        width: 100%;
        margin-bottom: 2rem;
    }

    .logo {
        display: none;
    }

    .img1,
    .img2 {
        display: flex;
        flex-direction: column;
        

    }

    .img1 div,
    .img2 div {
        width: 100%;
text-align: center;
    }
}
/* (width <900px) */



/* concept------------------------------------------------------ */
@media(width < 900px) {
    .conceptbox {
        display: block;

    }

    .conceptbox:nth-child(2) {
        display: block;
    }

    .concept-text {
        text-align: center;
    }

    .conceptbox h2 {
        margin-bottom: 0;
    }


    .concept-img {
        aspect-ratio: 16 / 9;
    }
    


}

/* menu--------------------------------------------------------------- */

@media(width < 900px) {
    .menubox ul{
        display: flex;
        flex-wrap: wrap;
        gap: 2rem;
        }
        .menu li{
            width: calc(100%/2 - 2rem);
            margin: 0 auto;
        }
}




/* info------------------------------------------------------------------- */
@media(width < 900px) {
    .garally ul {
        display: grid;
        grid-template-rows: 250px 125px 125px 250px 250px;
        grid-template-columns: 50% 50%;
    }
    
    .item1 {
        grid-row-start: 1;
        grid-row-end: 2;
        grid-column-start: 1;
        grid-column-end: 3;
    }
    
    .item2 {
        grid-row-start: 2;
        grid-row-end: 4;
        grid-column-start: 1;
        grid-column-end: 2;
    }
    
    .item3 {
        grid-row-start: 2;
        grid-row-end: 3;
        grid-column-start: 2;
        grid-column-end: 3;
    }
    
    .item4 {
        grid-row-start: 3;
        grid-row-end: 4;
        grid-column-start: 2;
        grid-column-end: 3;
    }
    
    .item5 {
        grid-row-start: 4;
        grid-row-end: 5;
        grid-column-start: 1;
        grid-column-end: 3;
    }
    
    .item6 {
        grid-row-start: 5;
        grid-row-end: 6;
        grid-column-start: 1;
        grid-column-end: 2;
    }
    
    .item7 {
        grid-row-start: 5;
        grid-row-end: 6;
        grid-column-start: 2;
        grid-column-end: 3;
    }
    
    

}/* (width < 900px) */